@model Portal.Models.RegisterViewModel

@{
    ViewBag.Title = "registerClient";
}

<h2>registerClient</h2>





@using (Html.BeginForm("Register", "Home"))
{
    @Html.DisplayNameFor(p => p.FirstName)
    @Html.EditorFor(p => p.FirstName)
    <br />
    @Html.DisplayNameFor(p => p.SecondName)
    @Html.EditorFor(p => p.SecondName)
    <br />
    @Html.DisplayNameFor(p => p.LastName)
    @Html.EditorFor(p => p.LastName)
    <br />
        @Html.DisplayNameFor(p => p.PhoneNumber)
        @Html.EditorFor(p => p.PhoneNumber)
    <br />
    @Html.DisplayNameFor(p => p.Password)
    @Html.EditorFor(p => p.Password)
    <br />
        @Html.DisplayNameFor(p => p.ConfirmPassword)
        @Html.EditorFor(p => p.ConfirmPassword)

<p><input type = "submit" value = "Регистрация" /></p>
}

